/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: "noto serif", serif,
  "noto serif", serif !default;

// colors
$body-bg: #fff !default;
$body-color: #343a40 !default;
$link-color: #0000EE !default;
$selection-bg: #26351c;

// headings
$presentation-heading-font: "noto serif", serif,
  "noto serif", serif !default;
$presentation-heading-color: #ffbf00 !default;
$presentation-h1-font-size: 1.50em !default;

/*-- scss:rules --*/

.h1 {
  font-size: 1.50em;
  font-weight: 600;
  text-align: left;
  margin: auto;
  color: #ffbf00
}

.title-center {
  font-size: 3.5em;
  font-weight: 600;
  text-align: center;
  margin: auto;
}

.half-image {
  display: block;
  margin-top: 2.5em;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.author {
  font-size: 1.25em;
  font-weight: 400;
  text-align: left;
  position: absolute;
  left: 30px;
  bottom: 30px;
}

.center {
  margin: auto;
  text-align: center;
  font-style: italic;
  font-size: 1.5em;
}

.reveal code {
  color: #ffbf00;
}

.reveal div.sourceCode {
  background-color: #f0f1eb;
}

.reveal .code-wrapper {
  height: 100%;
  max-height: 100%;
}

.reveal a {
  color: #1E1E1E;
  line-height: 0em;
  font-weight: 200;
}

.reveal a:hover {
  font-weight: 200;
}

.reveal .column.cell {
  padding: 3px;
} 
